# آی‌پی سرور A (همین سرور)
SERVER_A_IP=0.0.0.0

# آی‌پی سرور B که مجاز است
SERVER_B_IP=0.0.0.0

# تعداد کلاینت‌های WireGuard
WG_PEERS=1

# تایم‌زون
TZ=Asia/Tehran

# پورت‌ها
PORT_HTTP=33128
PORT_SOCKS=31080
PORT_WG=51820
